.ear1{
    border:5px solid black;
    height:100px;
    width:70px;
    background-color:pink;
    left: 100px;
    border-radius:360px 360px 360px 360px;
    position:absolute;
    
}
.ear2{
    border:5px solid black;
    height:100px;
    width:70px;
    background-color:pink;
    left:315px;
    border-radius:80px 80px 80px 80px;
    position: absolute;
}
.face{
    border: 5px solid black;
    height:250px;
    width:250px;
    background-color:pink;
    border-radius:100%;
    position:absolute;
    left:118px;
    top:15px;
}
.reye{
    
    height:50px;
    width:50px;
    border: 3px solid black;
    background-color:whitesmoke;
    border-radius:100%;
    position: absolute;
    left:40px;
    top:50px;
    
}
.reyee{
    border: 1px solid black;
    height:25px;
    width:25px;
    background-color:black;
    border-radius:100%;
    position: absolute;
    left:54px;
    top:62px;
}
.leye{
    
    height:50px;
    width:50px;
    border: 3px solid black;
    background-color:whitesmoke;
    border-radius:100%;
    position: absolute;
    left:160px;
    top:50px;
}
.leyee{
    border: 1px solid black;
    height:25px;
    width:25px;
    background-color:black;
    border-radius:100%;
    position: absolute;
    left:173px;
    top:62px;
}
.mouth{
    border:3px solid black;
    height:60px;
    width:130px;
    background-color:palevioletred;
    left:235px;
    border-radius:20px 20px 20px 20px;
    position: absolute;
    left:60px;
    top:150px;
}
.nose1{
    border: 1px solid black;
    height:35px;
    width:30px;
    background-color:black;
    border-radius:100%;
    position: absolute;
    left:20px;
    top:8px;
}
.nose2{
    border: 1px solid black;
    height:35px;
    width:30px;
    background-color:black;
    border-radius:100%;
    position: absolute;
    left:73px;
    top:8px;
}